[build]
builder = "nixpacks"

[deploy]
startCommand = "python -m gunicorn --config gunicorn_config.py app:app"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

